@page
@model Graduation_Project_Dashboard.Pages.Parents.IndexModel

@{
    ViewData["Title"] = "List";
    ViewData["Entity"] = "Parents";
    ViewData["BreadCrumb"] = "<a href='/Parents' class='breadcrumb-item'>Parents</a>";
    Layout = "~/Pages/Shared/_MasterLayout.cshtml";
}


<div class="card">
    <div class="card-header pb-0">
        <h5 class="mb-0">Parents List</h5>
    </div>
    <table class="table datatable-users table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ParentUser[0].UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentUser[0].Name)
                </th>
                <th>
              School Name
                </th>
                <th>
                    image
                </th>
                <th>
                    Role
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ParentUser[0].IsActive)
                </th>
                <th>
National ID                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentUser[0].Email)
                </th>
                <th>
                    Address

                </th>
                <th>
        Mobile Number
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ParentUser)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>
                    <td>
                        @if (item.ImageURL == null)
                        {

                            <img src="/uploads/clinics/2.webp" alt="image" style="width:80px" class="rounded-circle" />


                        }
                        else
                        {

                            <img src="@item.ImageURL" alt="image" style="width:80px" class="rounded-circle" />
                        }

                    </td>
                    <td>
                        @Html.Raw(Model.GetUserRole(item.UserId))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ParentId" class="text-teal"><i class="icon-pencil7"></i> Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ParentId" class="text-primary"><i class="icon-file-text2"></i> Details</a>
                        |
                        <a asp-page="./Delete" asp-route-id="@item.ParentId" class="text-pink"><i class="icon-bin"></i> Deactive</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
