@page
@model Graduation_Project_Dashboard.Pages.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
    ViewData["Entity"] = "Contents";
    ViewData["BreadCrumb"] = "<a href='/Contents' class='breadcrumb-item'>Contents</a>";
    Layout = "~/Pages/Shared/_MasterLayout.cshtml";
}



<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Are you sure you want to delete this?</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <fieldset>
                    <div class="form-group row col-form-label">
                        <label class="col-lg-2  fw-bold">
                            @Html.DisplayNameFor(model => model.Content.Id)
                        </label>
                        <div class="col-lg-10">
                            @Html.DisplayFor(model => model.Content.Id)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-12">
                <fieldset>
                    <div class="form-group row col-form-label">
                        <label class="col-lg-2  fw-bold">
                            @Html.DisplayNameFor(model => model.Content.PageName)
                        </label>
                        <div class="col-lg-10">
                            @Html.DisplayFor(model => model.Content.PageName)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-12">
                <fieldset>
                    <div class="form-group row col-form-label">
                        <label class="col-lg-2  fw-bold">
                            @Html.DisplayNameFor(model => model.Content.PageContent)
                        </label>
                        <div class="col-lg-10">
                            @Html.Raw(Model.Content.PageContent)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <div class="form-group row col-form-label">
                        <label class="col-lg-4  fw-bold">
                            @Html.DisplayNameFor(model => model.Content.Created)
                        </label>
                        <div class="col-lg-8">
                            @Html.DisplayFor(model => model.Content.Created)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <div class="form-group row col-form-label">
                        <label class="col-lg-4  fw-bold">
                            @Html.DisplayNameFor(model => model.Content.CreatedByNavigation)
                        </label>
                        <div class="col-lg-8">
                            @Html.DisplayFor(model => model.Content.CreatedByNavigation.DisplayText)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <div class="form-group row col-form-label">
                        <label class="col-lg-4  fw-bold">
                            @Html.DisplayNameFor(model => model.Content.Updated)
                        </label>
                        <div class="col-lg-8">
                            @Html.DisplayFor(model => model.Content.Updated)
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <div class="form-group row col-form-label">
                        <label class="col-lg-4  fw-bold">
                            @Html.DisplayNameFor(model => model.Content.UpdatedByNavigation)
                        </label>
                        <div class="col-lg-8">
                            @Html.DisplayFor(model => model.Content.UpdatedByNavigation.DisplayText)
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <form method="post">
        <div class="card-footer d-flex justify-content-between align-items-center bg-light border-top-0">
            <input type="hidden" asp-for="Content.Id" />
            <a asp-page="./Index" class="btn btn-primary btn-labeled btn-labeled-start">
                Cancel
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-arrow-left8"></i>
                </span>
            </a>
            <button type="submit" class="btn btn-danger btn-labeled btn-labeled-end">
                Delete
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-bin"></i>
                </span>
            </button>
        </div>
    </form>
</div>
